
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
    text-align: right;
    align-content: flex-end;
    color: white;
    background: #4c74f0;
    border-color: dodgerblue;
}
.alert {
    background-color: #98d37f;
    color: #095200;
}